button {
    background-color: lightskyblue;
    margin: 200px 0px 200px 500px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
}