.eventTypes {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 40px;
    justify-content: center;
}

.eventType {
    display: flex;
    position: relative;
    margin: 1%;
    width: 100px;
    height: 100px;
    float: left;
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
}

.tooltip {
    // background-color: !important;
    font-size: 14px !important;
}

button {
    background-color: lightskyblue;
    margin: 90px 0px 0px 585px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
}